<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="mobile-automation-framework">
	<parameter name="os" value="android" />
	<listeners>
	<listener class-name="UITestFramework.retryLogic.TestListener"/> 
	</listeners>
	<test name="automation-tests">
		<classes>
			<class name="tests.Login.LoginTest" />
			<class name="tests.Login.LoginPageField" />
		</classes>
	</test>
</suite>
